<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(144, 167, 144);color: rgb(255, 255, 255);">
        <h1>CALCULO DE NUMEROS RANDOMS</h1> 
    </div>
</div>
<script src="../../scripts/calculoDeNumeros.js"></script>